@using My_Site.Models;
@model SparePartListViewModel


@{
    ViewBag.Title = "Управление сайтом";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";<!--(Ajax.BeginForm("Index", null)-->  
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список товаров</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Index", "Admin", FormMethod.Get))      
        {                 
            <input type="text" name="search" />
            <input type="submit" class="btn btn-success" value="Поиск" />  
            if (Model.SpareParts.Count() != 0)
            {
                var grid = new WebGrid(canPage: true, rowsPerPage: 20, canSort: true, ajaxUpdateContainerId: "gridd");
                grid.Bind(Model.SpareParts, rowCount: Model.SpareParts.Count(), autoSortAndPage: true);
                @grid.GetHtml(htmlAttributes: new { id = "gridd", @class = "table" },
            columns: grid.Columns(
                //grid.Column(format: (item) => Html.ActionLink("Edit", "Edit", new { EmployeeID = item.EmployeeID })),
                    grid.Column("Id", "Id", canSort: true),
                    grid.Column("Mark", "Производитель"),
                    grid.Column(header: "Модель", format: (item) => Html.ActionLink((string)item.Model, "Edit", new { spareId = item.Id })),
                    grid.Column("Price", "Цена"),
                    grid.Column("Quantity", "В наличии"),
                    grid.Column(format: (item) => Html.ActionLink("Удалить", "Delete", new { spareId = item.Id }, new { @class = "btn btn-default btn-xs" }))
            ));

                <!--<table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-right">ID</th>
                    <th>Название</th>
                    <th>Категория</th>
                    <th class="text-right">Цена</th>
                    <th class="text-center">Количество</th>
                    <th class="text-center">Действия</th>
                </tr>
                @foreach (SparePart item in Model.SpareParts)
                {
                    <tr>
                        <td class="text-right">@item.Id</td>
                        <td>@Html.ActionLink(item.MarkWithModel, "Edit", new { spareId = item.Id })</td>
                        <td>@item.Category</td>
                        <td class="text-right">@item.Price.ToString("# руб")</td>
                        <td class="text-right">@item.Quantity</td>
                        <td class="text-center">
                            @Html.ActionLink("Удалить", "Delete", new { spareId = item.Id }, new { @class = "btn btn-default btn-xs" })
                        </td>
                    </tr>
                }
            </table>-->
            }
            else
            {
                <h2>Ничего не найдено :(</h2>
            }
        }
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить", "Create", null,
            new { @class = "btn btn-default" })
        <p>
    </div>
</div>

